{% extends 'master.html' %}

{% block content %}

    <div id="main-wrapper" style="background-color: #9fff96;">
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row" style="color: #454545;">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card card-outline-info">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">Add a visitor</h4>
                        </div>
                        <div class="card-body">

                            <form action="#">

                                <div class="form-body">
                                    <h3 class="card-title m-t-15">Visitor Info</h3>
                                    <hr>
                                    <div class="row p-t-20">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <input type="text" id="firstName" class="form-control"
                                                       placeholder="John" name="first_name" required>
                                                <small class="form-control-feedback"> *Enter the first name</small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Middle Name</label>
                                                <input type="text" id="middleName" class="form-control"
                                                       placeholder="" name="middle_name">
                                                <small class="form-control-feedback"> Enter the middle name</small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" id="lastName" class="form-control"
                                                       placeholder="Doe" name="last_name" required>
                                                <small class="form-control-feedback"> *Enter the last name</small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Gender</label>
                                                <select class="form-control custom-select" name="gender" required title="gender">
                                                    <option value="" disabled selected>--Gender--</option>
                                                    <option value="m">Male</option>
                                                    <option value="f">Female</option>
                                                    <option value="o">Other</option>
                                                </select>
                                                <small class="form-control-feedback"> *Select your gender</small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Date of Birth</label>
                                                <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                                       name="dob" required>
                                                <small class="form-control-feedback"> *Select date of birth</small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <h3 class="box-title m-t-40">Address</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="form-group">
                                                <label>Street</label>
                                                <input type="text" class="form-control" name="street" title="street">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" name="city" title="city">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" name="state" title="state">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>PIN Code</label>
                                                <input type="text" class="form-control" name="pincode" title="pincode">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" name="country" title="country">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <h3 class="box-title m-t-40">Scan Card</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card ID</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Scanned Card ID" required
                                                       readonly id="scanned-card" name="cardID">
                                                <small class="form-control-feedback"> *Scan a card and click the button to add the ID</small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="sweetalert m-t-15">
                                                <br>
                                                <button class="btn btn-info btn sweet-ajax" id="btn-scan">
                                                    <i class="fa fa-id-card-o"></i> Scan Card
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="box-title m-t-40">Company to Visit</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Company</label>
                                                <select class="form-control custom-select" name="company" required title="company">
                                                    <option value="" disabled selected>--Company--</option>
                                                    {% for company in companies %}
                                                        <option value="{{ company.id }}">{{ company.company_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <small class="form-control-feedback"> *Select the company the visitor wants to visit</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-success btn-lg">
                                                <i class="fa fa-check"></i> Add Visitor
                                            </button>
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-inverse btn-lg"
                                                    onclick="location.href = {% url 'reception-dashboard' %};">
                                                <i class="fa fa-window-close"></i> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>

{% endblock %}


{% block js %}
    <script>
        document.querySelector('.sweet-ajax').onclick = function () {
            swal({
                    title: "Scan Card !!",
                    text: "Please scan a card and press OK to get the scanned ID !!",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {
                    $.ajax({
                        url: "{% url 'scan-card' %}",
                        type: "post", // or "get"
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            if (data.uid != null) {
                                setTimeout(function () {
                                    swal("Success", "Scanned card has been registered", "success");
                                    document.getElementById("scanned-card").value = data.uid;
                                    document.getElementById("btn-scan").disabled = true;
                                }, 3000);
                            }
                            else {
                                setTimeout(function () {
                                    sweetAlert("Error", "Scanned card could not be found", "error");
                                }, 3000);
                            }
                        }
                    });
                });
        };

    </script>
{% endblock %}