{% load static %}

<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">HOME</li>
                <li>
                    <a href="{% url 'reception-dashboard' %}" aria-expanded="false">
                        <i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard </span>
                    </a>
                </li>
                <li class="nav-label">Apps</li>
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-envelope"></i><span class="hide-menu">Messages</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="{% url 'add-visitor' %}" aria-expanded="false">
                        <i class="fa fa-id-card"></i><span class="hide-menu">Add Visitor</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="{% url 'all-visitors' %}" aria-expanded="false">
                        <i class="fa fa-group"></i><span class="hide-menu">All Visitors</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->