{% load static %}

<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">HOME</li>
                <li><a class="has-arrow" href="#" aria-expanded="false"><i
                        class="fa fa-tachometer"></i><span class="hide-menu">Dashboard <span
                        class="label label-rouded label-primary pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'login.html' %}">Ecommerce </a></li>
                        <li><a href="{% static 'index1.html' %}">Analytics </a></li>
                    </ul>
                </li>
                <li class="nav-label">Apps</li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'email-compose.html' %}">Compose</a></li>
                        <li><a href="{% static 'email-read.html' %}">Read</a></li>
                        <li><a href="{% static 'email-inbox.html' %}">Inbox</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'chart-flot.html' %}">Flot</a></li>
                        <li><a href="{% static 'chart-morris.html' %}">Morris</a></li>
                        <li><a href="{% static 'chart-chartjs.html' %}">ChartJs</a></li>
                        <li><a href="{% static 'chart-chartist.html' %}">Chartist </a></li>
                        <li><a href="{% static 'chart-amchart.html' %}">AmChart</a></li>
                        <li><a href="{% static 'chart-echart.html' %}">EChart</a></li>
                        <li><a href="{% static 'chart-sparkline.html' %}">Sparkline</a></li>
                        <li><a href="{% static 'chart-peity.html' %}">Peity</a></li>
                    </ul>
                </li>
                <li class="nav-label">Features</li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-suitcase"></i><span class="hide-menu">Bootstrap UI <span
                        class="label label-rouded label-warning pull-right">6</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'ui-alert.html' %}">Alert</a></li>
                        <li><a href="{% static 'ui-button.html' %}">Button</a></li>
                        <li><a href="{% static 'ui-dropdown.html' %}">Dropdown</a></li>
                        <li><a href="{% static 'ui-progressbar.html' %}">Progressbar</a></li>
                        <li><a href="{% static 'ui-tab.html' %}">Tab</a></li>
                        <li><a href="{% static 'ui-typography.html' %}">Typography</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-suitcase"></i><span class="hide-menu">Components <span
                        class="label label-rouded label-danger pull-right">6</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'uc-calender.html' %}">Calender</a></li>
                        <li><a href="{% static 'uc-datamap.html' %}">Datamap</a></li>
                        <li><a href="{% static 'uc-nestedable.html' %}">Nestedable</a></li>
                        <li><a href="{% static 'uc-sweetalert.html' %}">Sweetalert</a></li>
                        <li><a href="{% static 'uc-toastr.html' %}">Toastr</a></li>
                        <li><a href="{% static 'uc-weather.html' %}">Weather</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-wpforms"></i><span class="hide-menu">Forms</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'form-basic.html' %}">Basic Forms</a></li>
                        <li><a href="{% static 'form-layout.html' %}">Form Layout</a></li>
                        <li><a href="{% static 'form-validation.html' %}">Form Validation</a></li>
                        <li><a href="{% static 'form-editor.html' %}">Editor</a></li>
                        <li><a href="{% static 'form-dropzone.html' %}">Dropzone</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-table"></i><span
                        class="hide-menu">Tables</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'table-bootstrap.html' %}">Basic Tables</a></li>
                        <li><a href="{% static 'table-datatable.html' %}">Data Tables</a></li>
                    </ul>
                </li>
                <li class="nav-label">Layout</li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-columns"></i><span class="hide-menu">Layout</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'layout-blank.html' %}">Blank</a></li>
                        <li><a href="{% static 'layout-boxed.html' %}">Boxed</a></li>
                        <li><a href="{% static 'layout-fix-header.html' %}">Fix Header</a></li>
                        <li><a href="{% static 'layout-fix-sidebar.html' %}">Fix Sidebar</a></li>
                    </ul>
                </li>
                <li class="nav-label">EXTRA</li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-book"></i><span class="hide-menu">Pages <span
                        class="label label-rouded label-success pull-right">8</span></span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li><a href="{% static '#' %}" class="has-arrow">Authentication <span
                                class="label label-rounded label-success">6</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% static 'page-login.html' %}">Login</a></li>
                                <li><a href="{% static 'page-register.html' %}">Register</a></li>
                                <li><a href="{% static 'page-invoice.html' %}">Invoice</a></li>
                            </ul>
                        </li>
                        <li><a href="{% static '#' %}" class="has-arrow">Error Pages</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% static 'page-error-400.html' %}">400</a></li>
                                <li><a href="{% static 'page-error-403.html' %}">403</a></li>
                                <li><a href="{% static 'page-error-404.html' %}">404</a></li>
                                <li><a href="{% static 'page-error-500.html' %}">500</a></li>
                                <li><a href="{% static 'page-error-503.html' %}">503</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-map-marker"></i><span class="hide-menu">Maps</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static 'map-google.html' %}">Google</a></li>
                        <li><a href="{% static 'map-vector.html' %}">Vector</a></li>
                    </ul>
                </li>
                <li><a class="has-arrow  " href="{% static '#' %}" aria-expanded="false"><i
                        class="fa fa-level-down"></i><span class="hide-menu">Multi level dd</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% static '#' %}">item 1.1</a></li>
                        <li><a href="{% static '#' %}">item 1.2</a></li>
                        <li><a class="has-arrow" href="{% static '#' %}" aria-expanded="false">Menu 1.3</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% static '#' %}">item 1.3.1</a></li>
                                <li><a href="{% static '#' %}">item 1.3.2</a></li>
                                <li><a href="{% static '#' %}">item 1.3.3</a></li>
                                <li><a href="{% static '#' %}">item 1.3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="{% static '#' %}">item 1.4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->